/* CSS declarations go here */
.cus-dropdown {
    position: relative;
    display: inline-block;
}

.cus-dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    padding: 12px 16px;
    margin: 0;
    z-index: 1;
}

.cus-dropdown:hover .cus-dropdown-content {
    display: block;
}

.card-video{
    width:100%;
}